<div class="page-title-overlap bg-dark pt-4">
  <div class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
    <div *ngIf="sellerHeader?.imageBase64" class="d-flex align-items-center pb-3">
      <div class="rounded-circle flex-shrink-0">
        <img class="rounded-circle avatar" [src]="sellerHeader.imageBase64?'data:image/png;base64,' +sellerHeader.imageBase64:'./assets/avatar.png'" alt="">
      </div>
      <div class="ps-3">
        <h3 class="h3 text-light fs-lg mb-0">{{sellerHeader.sellerName}}</h3>
        <span class="d-block text-light fs-ms opacity-60 py-1">Member since {{sellerHeader.memberSince}}</span>
        <span class="badge bg-success"></span>
      </div>
    </div>
    <div class="d-flex">
      <div class="text-sm-end me-5">
        <div class="text-light fs-base">Total sales</div>
        <h3 class="text-light">{{sellerHeader?.totalSales??0}}</h3>
      </div>
      <div *ngIf="sellerHeader?.numberOfReviews??0>0;else noReview" class="text-sm-end">
        <div class="text-light fs-base">Seller rating</div>
        <div class="star-rating">
          <rating [(ngModel)]="sellerHeader.rating"
                  [max]="5"
                  [readonly]="true"> </rating>
        </div>
        <div class="text-light opacity-60 fs-xs">
          <label *ngIf="sellerHeader.numberOfReviews>1;else oneReviewer">
            Based on {{sellerHeader.numberOfReviews}} reviews
          </label>
          <ng-template #oneReviewer>
            <label>
              Based on {{sellerHeader.numberOfReviews}} review
            </label>
          </ng-template>
        </div>
      </div>
      <ng-template #noReview>
        <div class="text-light opacity-60 fs-xs">
          <label>No reviews available.</label>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="spacer d-block"></div>
</div>
